/CL.read.1.tlog
/CL.write.1.tlog
/cl.command.1.tlog
/link-cvtres.read.1.tlog
/link-cvtres.write.1.tlog
/link-rc.read.1.tlog
/link-rc.write.1.tlog
/link.command.1.tlog
/link.read.1.tlog
/link.write.1.tlog
/vc110.idb
/vc110.pdb
/Part6.Build.CppClean.log
/Part6.lastbuildstate
/Part6.log
/main.obj
*.1.tlog
