/CL.read.1.tlog
/CL.write.1.tlog
/cl.command.1.tlog
/link-cvtres.read.1.tlog
/link-cvtres.write.1.tlog
/link-rc.read.1.tlog
/link-rc.write.1.tlog
/link.command.1.tlog
/link.read.1.tlog
/link.write.1.tlog
/main.obj
/openCV_Test.Build.CppClean.log
/openCV_Test.lastbuildstate
/openCV_Test.log
/vc110.idb
/vc110.pdb
