/CL.read.1.tlog
/CL.write.1.tlog
/ComPortProject.lastbuildstate
/ComPortProject.log
/ComPortProject.obj
/ComPortProject.pch
/cl.command.1.tlog
/link-cvtres.read.1.tlog
/link-cvtres.write.1.tlog
/link-rc.read.1.tlog
/link-rc.write.1.tlog
/link.command.1.tlog
/link.read.1.tlog
/link.write.1.tlog
/stdafx.obj
/vc110.idb
/vc110.pdb
*.write.1.tlog
*.11104-cvtres.read.1.tlog
*.11104-rc.read.1.tlog
*.11104.read.1.tlog
*.read.1.tlog
*.unsuccessfulbuild
